.App {
  text-align: center;
}
.App-header {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  background-image: url(/src/img/head.jpg);
  background-size: cover;
  background-color: #191919;
  opacity: 0.8;
  padding: 20px;
  color: white;
}
.App-menu {  
  color: #fff;
  display: block;
}
.App-menu:before{
  content: '\2261';  
  display: inline-block;
  width: 40px;
    font: 2em "arial";
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.menuLogo {
 display: block;
 position: relative;
}
.menuLogo a {
  color: #fff;
}
.menuLogo ul {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  color: #fff; 
  font-size: 0.9em;   
}
.menuLogo li {
   border: 1px solid #E5E103;
  background-color: #5A5A5A;
  padding: 1% 7%; 
}
.menuLogo li:hover {
  background-color: #191919;
    opacity: 0.7; 
}

.Basket img{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.search {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;   
    color: #fff;
}
.search a {
  display: inline-block;
  font-size: 1.2em;
  margin-top: 7px;
}
.mainContent {
  padding: 5px;
  display: block;
  background-color: green;
  font-size: 0.7em; 
  line-height: 0.5em;
}
.mainContent li {
  display: inline-block;
  padding: 7px;
}
.mainContent img {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    display: block;
  }

  .about {
    font-size: 24px;
  }