.App {
  text-align: center;
}
.App-header {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  background-image: url(/src/img/head.jpg);
  background-size: cover;
  background-color: #191919;
  opacity: 0.8;
  padding: 20px;
  color: white;
}
.App-header img {
 /* width: 35px;*/
}
.App-menu {  
  color: #fff;
  display: block;
}
.App-menu:before{
  content: '\2261';  
  display: inline-block;
  width: 40px;
    font: 2em "arial";
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.menuLogo {
 display: block;
 position: relative;
}
.menuLogo a {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}
.menuLogo a {
  padding: 1% 7%;
  border: 1px solid #E5E103;
  background-color: #5A5A5A;
}
.menuLogo a:hover {
  background-color: #191919;
    opacity: 0.7; 
}
.menuLogo a {
  color: #fff; 
  font-size: 0.9em; 
}
.Basket img{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.form  { 
  background: ('./img/postpaper.jpg');
  width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.form img {
  width: 70%;
  padding-top: 9px;
}
.mainContent {
  padding: 5px;
  display: block;
  background-color: green;
  font-size: 0.7em; 
  line-height: 0.5em;
}
.mainContent li {
  display: inline-block;
  padding: 7px;
}
.mainContent img {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    display: block;
  }